In [21]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A007-E621

 Directory of C:\Users\tswar\Downloads\SocialTek_Batch\Outliers

05/16/2022  10:42 AM    <DIR>          .
05/16/2022  10:42 AM    <DIR>          ..
05/16/2022  09:59 AM    <DIR>          .ipynb_checkpoints
05/16/2022  09:41 AM         2,244,860 outliers.pdf
05/15/2022  03:57 PM           266,571 Outliers_special.ipynb
05/21/2020  07:27 AM           608,346 SOCR-HeightWeight.csv
05/16/2022  10:42 AM                72 Untitled.ipynb
               4 File(s)      3,119,849 bytes
               3 Dir(s)  135,792,193,536 bytes free

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
df=pd.read_csv("SOCR-HeightWeight.csv")
df

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]

In [24]:
# Z Score

In [26]:
df.columns

Index(['Index', 'Height(Inches)', 'Weight(Pounds)'], dtype='object')

In [27]:
df.rename(columns={'Height(Inches)':"height",'Weight(Pounds)':'weigth'},inplace=True)

In [28]:
df.columns

Index(['Index', 'height', 'weigth'], dtype='object')

In [29]:
df["z_score"]=(df.height-df.height.mean())/df.height.std()

In [30]:
df

       Index    height    weigth   z_score
0          1  65.78331  112.9925 -1.162028
1          2  71.51521  136.4873  1.852099
2          3  69.39874  153.0269  0.739150
3          4  68.21660  142.3354  0.117521
4          5  67.78781  144.2971 -0.107959
...      ...       ...       ...       ...
24995  24996  69.50215  118.0312  0.793529
24996  24997  64.54826  120.1932 -1.811480
24997  24998  64.69855  118.2655 -1.732450
24998  24999  67.52918  132.2682 -0.243960
24999  25000  68.87761  124.8742  0.465113

[25000 rows x 4 columns]

In [39]:
df[df["z_score"]>3]

       Index    height    weigth   z_score
138      139  73.90107  151.3913  3.106706
174      175  73.83364  139.2983  3.071248
1162    1163  74.24899  150.2167  3.289660
1383    1384  74.19488  129.0597  3.261206
1893    1894  75.15280  146.9701  3.764929
2395    2396  73.99549  142.9016  3.156357
2481    2482  75.11519  153.9562  3.745152
4191    4192  74.03777  139.5953  3.178590
4508    4509  74.28376  147.7877  3.307944
6627    6628  73.72628  142.8110  3.014792
7269    7270  73.81695  140.0915  3.062471
7839    7840  73.85521  136.0667  3.082590
8472    8473  73.95409  145.2695  3.134586
8828    8829  74.27270  144.6600  3.302128
9225    9226  73.75335  153.1022  3.029027
9492    9493  74.05895  133.8172  3.189727
10330  10331  74.36328  164.6643  3.349759
10635  10636  73.88574  135.9816  3.098644
11173  11174  74.16797  142.7732  3.247055
13681  13682  74.74047  155.5462  3.548105
14063  14064  74.04804  149.6303  3.183990
15209  15210  74.59993  147.0372  3.474202
15966  15967  74.25069  150.0567  3.290554
16145  16146  74.47517  130.9092  3.408597
16385  16386  73.88318  134.2179  3.097298
16752  16753  74.84890  122.1664  3.605123
17079  17080  74.29570  170.5479  3.314222
19005  19006  74.01942  124.2312  3.168940
21949  21950  74.42744  141.7416  3.383498
22471  22472  74.51784  146.9867  3.431035
22769  22770  74.19842  141.6148  3.263068
23039  23040  73.95494  154.3987  3.135033
24801  24802  74.53177  148.9104  3.438360

In [ ]:
df[df[""]]